<center><h1>Ejercicio N°3</h1></center>

<b style="font-size:15px">Crear una función que devuelva un mapa de calor con la correlación
de todas las variables numéricas (incluye las generadas), para cada
país.</b>

<ul><li>La función debe contar con su respectiva documentación</li></ul>

--------

Estudiante: Ing. Daniel Ali ALviarez Arvelay

Tefl. +58 412-8970997

linkedIn: https://www.linkedin.com/in/daniel-alviarez/

Email: alviarezali4@gmail.com

----------------

In [1]:
import pandas as pd
import numpy as np

In [2]:
def NewGenerates(data):
    '''Recibe una Serie de pandas donde se procedera a calcular las metricas de media y desviacion estandar para comparar
    sus valores y retornar una array que contenga los valores de:
    
    *Bajo si el valor se encuentra por debajo de la (MEDIA - DESVIACION ESTANDAR)
    *Medio si el valor se encuentra entre la [(MEDIA - DESVIACION ESTANDAR) & (MEDIA + DESVIACION ESTANDAR)]
    *Alto si el valor se encuentra por encima de la (MEDIA + DESVIACION ESTANDAR)
    
    '''
    standarDev= np.std(data)
    media = np.mean(data)
    VarCompPlus = media + standarDev
    VarCompMinus = media - standarDev
    
    conditions = [data<VarCompMinus, (data>=VarCompMinus) & (data<VarCompPlus), data>=VarCompPlus]
    options = ["Bajo", "Medio", "Alto"]
    
    return np.select(conditions, options, default="No contemplado")

In [6]:
#Creamos un DateFrame con 1000 valores entre 140 y 200 con nombre de Altura en su columna
df = pd.DataFrame(data=np.random.randint(140,200,1000), columns=["Altura"])
df

     Altura
0       199
1       188
2       153
3       171
4       142
..      ...
995     143
996     173
997     173
998     177
999     155

[1000 rows x 1 columns]

In [8]:
# Mostramos las metricas para que nos sirva de comparacion
print(f"Desvicion estandar {np.std(df['Altura'])}")
print(f"Media {np.mean(df['Altura'])}")
print(f"Media + std = {np.mean(df['Altura'])+np.std(df['Altura'])}")
print(f"Media - std = {np.mean(df['Altura'])-np.std(df['Altura'])}")

#LLamamos a nuestra funcion y le pasamos el DataFrame para que nos retorne nuestra nueva variable Cualitativa
df["Variable Cualitativa"]= NewGenerates(df["Altura"])
df

Desvicion estandar 17.38020940610325
Media 169.861
Media + std = 187.24120940610325
Media - std = 152.48079059389673

     Altura Variable Cualitativa
0       199                 Alto
1       188                 Alto
2       153                Medio
3       171                Medio
4       142                 Bajo
..      ...                  ...
995     143                 Bajo
996     173                Medio
997     173                Medio
998     177                Medio
999     155                Medio

[1000 rows x 2 columns]

In [9]:
df

     Altura Variable Cualitativa
0       199                 Alto
1       188                 Alto
2       153                Medio
3       171                Medio
4       142                 Bajo
..      ...                  ...
995     143                 Bajo
996     173                Medio
997     173                Medio
998     177                Medio
999     155                Medio

[1000 rows x 2 columns]